src/main/resources/SOAPWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.andre.dionisio.nom.br/SOAPWS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SOAPWS" targetNamespace="http://www.andre.dionisio.nom.br/SOAPWS/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.andre.dionisio.nom.br/SOAPWS/">
      <xsd:element name="GetAverageEmployeesSalary">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetAverageEmployeesSalaryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CalculateEmployeeBonus">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetAverageEmployeesSalaryRequest">
    <wsdl:part element="tns:GetAverageEmployeesSalary" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetAverageEmployeesSalaryResponse">
    <wsdl:part name="parameters" type="xsd:decimal" />
  </wsdl:message>
  <wsdl:message name="CalculateEmployeeBonusRequest">
  	<wsdl:part name="employeeId" type="xsd:long"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CalculateEmployeeBonusResponse">
  	<wsdl:part name="bonus" type="xsd:decimal"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAverageEmployeesSalaryRequest1">
        <wsdl:part name="empty" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SOAPWS">
    <wsdl:operation name="GetAverageEmployeesSalary">
            <wsdl:input
            	message="tns:GetAverageEmployeesSalaryRequest1">
            </wsdl:input>
            <wsdl:output message="tns:GetAverageEmployeesSalaryResponse" name="parameters"/>
    </wsdl:operation>
    <wsdl:operation name="CalculateEmployeeBonus">
    	<wsdl:input message="tns:CalculateEmployeeBonusRequest" name="employeeId"></wsdl:input>
    	<wsdl:output message="tns:CalculateEmployeeBonusResponse" name="bonus"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPWSSOAP" type="tns:SOAPWS">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="GetAverageEmployeesSalary">
  		<soap:operation
  			soapAction="http://www.andre.dionisio.nom.br/SOAPWS/GetAverageEmployeesSalary" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output name="parameters">
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="CalculateEmployeeBonus">
  		<soap:operation
  			soapAction="http://www.andre.dionisio.nom.br/SOAPWS/CalculateEmployeeBonus" />
  		<wsdl:input name="employeeId">
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output name="bonus">
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SOAPWS">
    <wsdl:port binding="tns:SOAPWSSOAP" name="SOAPWSSOAP">
      <soap:address location="http://www.andre.dionisio.nom.br/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
